@font-face {
    font-family: DINPro;
    src: url('../font/DINPro-Regular.otf');
}

html,
body {
    height: 100%
}

a {
    color: #000;
}

h3 {
    font-weight: normal;
}

.icon1x {
    background-image: url(../images/icon@1x.png);
}

/*--//End--*/

.container {
    min-width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto
}

.home_title {
    height: 94px;
    position: relative;
}

.home_title h3 {
    font-size: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #000;
    opacity: 0.7;
}

.home_title:after {
    width: 24px;
    height: 4px;
    background: #4283EB;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
}

/*--//End 首页title--*/

.home .slider {
    height: 810px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
}

.home .slider form {
    width: 670px;
    height: 102px;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: 354px;
    left: 8%;
    z-index: 2;
}

.home .slider form .ipt {
    width: 630px;
    height: 44px;
    margin: 29px 0;
    font-size: 44px;
    background: transparent;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.home .slider form .btn {
    background: url(../images/search-icon@1x.png) no-repeat;
    width: 37px;
    height: 37px;
    line-height: 999px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -18px;
    cursor: pointer;
}

.home .slider form .text {
    width: 100%;
    min-height: 112px;
    position: absolute;
    top: 120px;
    left: 0;
}

.home .slider form .text p {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.home .slider .img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home .slider .img li {
    height: 810px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
}

.home .slider .img li img {
    width: 100%;
    min-width: 1200px;
    min-height: 810px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
}

.home .slider .num {
    position: absolute;
    bottom: 160px;
    left: 8%;
}

.home .slider .num li {
    font-family: "DINPro";
    font-size: 18px;
    margin-right: 20px;
    color: #fff;
    opacity: 0.6;
    float: left;
    cursor: pointer;
}

.home .slider .num li.active {
    opacity: 1;
    border-bottom: 2px solid #fff;
}

/*--//End slider --*/

.home .cate {
    height: 366px;
}

.home .cate ul {
    margin: 100px 0;
}

.home .cate li {
    width: 20%;
    text-align: center;
    float: left;
}

.home .cate li i {
    background: url(../images/cate_icon.png) no-repeat;
    width: 97px;
    height: 100px;
    display: inline-block;
}

.home .cate li i.icon1 {
    background-position: 0 0;
}

.home .cate li i.icon2 {
    background-position: 0 -100px;
}

.home .cate li i.icon3 {
    background-position: 0 -200px;
}

.home .cate li i.icon4 {
    background-position: 0 -300px;
}

.home .cate li i.icon5 {
    background-position: 0 -400px;
}

.home .cate li .zh {
    font-size: 16px;
    color: #000;
    height: 40px;
    line-height: 40px;
}

.home .cate li .en {
    font-size: 14px;
    color: #777;
    line-height: 20px;
}

/*--//End cate--*/
.home .global {
    margin-top: 110px;
    margin-bottom: 76px;
}

.home .global .text {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 54px;
}

.home .global .text span {
    width: 754px;
    text-align: center;
    font-size: 16px;
    color: #949494;
    line-height: 32px;
    display: inline-block;
}

.home .global .map {
    text-align: center;
}

/*--//End global--*/
.home .introduce ul {
    background: #fafafa;
}

.home .introduce li {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.home .introduce .lbox {
    width: 50%;
    height: 100%;
    float: left;
}

.home .introduce .rbox {
    width: 50%;
    height: 100%;
    float: right;
}

.home .introduce li .preview,
.home .introduce li .content {
    width: 100%;
    float: left;
    overflow: hidden;
}

.home .introduce li .content .info {
    width: 32%;
    height: 316px;
    position: absolute;
    top: 50%;
    margin-top: -158px;
}

.home .introduce li .content .subtitle {
    font-size: 16px;
    color: #777;
    line-height: 24px;
    margin-bottom: 20px;
}

.home .introduce li .content .title,
.home .introduce li .content .name {
    font-size: 35px;
    line-height: 49px;
}

.home .introduce li .content .txt {
    font-size: 14px;
    line-height: 32px;
    color: #777;
    margin-top: 20px;
    position: relative;
}

.home .introduce li .content .txt:after {
    content: '';
    background: url(../images/home_icon@1x.png) no-repeat 0 0;
    width: 13px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: -40px;
}

.home .introduce li .related {
    margin-top: 30px;
    line-height: 36px;
}

.home .introduce li .related .avatar {
    width: 36px;
    height: 36px;
    float: left;
}

.home .introduce li .related span {
    font-size: 16px;
    color: #333;
    float: left;
    margin-left: 16px;
}

.home .introduce li .rbox .content .info {
    left: 60%;
}

.home .introduce li .lbox .content .info {
    left: 10%;
}

/*--//End introduce--*/
.home .information {
    margin-top: 110px;
}

.home .information ul {
    margin-top: 60px;
}

.home .information li {
    width: 32%;
    float: left;
    overflow: hidden;
}

.home .information li a {
    display: block;
}

.home .information li:nth-child(2) {
    margin: 0 2%;
}

.home .information li .name {
    padding: 22px 26px 48px 26px;
    position: relative;

}

.home .information li .time {
    font-size: 14px;
    color: #777;
    position: absolute;
    bottom: 0;
}

/*--//End  information--*/

.home .project .home_title {
    margin-top: 110px;
    margin-bottom: 60px;
}

.home .project .content {
    background: #22252A url(../images/declare_bg.png) no-repeat center 204px;
    height: 522px;
    text-align: center;
}

.home .project .content .certificate {
    background: url(../images/certificate.png);
    width: 140px;
    height: 195px;
    display: inline-block;
    margin-top: 74px;
    margin-bottom: 34px;
}

.home .project .content .txt {
    width: 956px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    opacity: 0.5;
    display: inline-block;
}

.home .project .content .declare {
    width: 208px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: #4283EB;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    letter-spacing: 5px;
    margin-top: 30px;
}

/*--//ENd home_project--*/

.partners {
    background: #1b1b1b;
    height: 300px;
}

.partners .content {
    width: 1070px;
    height: 128px;
    margin: 95px auto 77px auto;
}

.partners .content a {
    float: left;
    margin-left: 202px;
}

.partners .content a.united {
    background: url(../images/partners_01.png) no-repeat;
    width: 148px;
    height: 127px;
    margin-left: 0;
}

.partners .content a.intangible {
    background: url(../images/partners_02.png) no-repeat;
    width: 70px;
    height: 128px;
}

.partners .content a.chinaich {
    background: url(../images/partners_03.png) no-repeat;
    width: 123px;
    height: 124px;
}

.partners .content a.cctv {
    background: url(../images/partners_04.png) no-repeat;
    width: 117px;
    height: 79px;
    margin-top: 30px;
}

/*--//ENd partners--*/

.detail {
    position: relative;
    background: #f2f2f2;
}

.detail .mainbg {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.detail .mainbg img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -600px;
    margin-left: -1400px;
    z-index: 1;
}

.detail .mainbg .play_big {
    position: absolute;
    top: 212px;
    left: 50%;
    margin-left: -60px;
    z-index: 2;
}

/*--//End mainbg--*/

.detail .card {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.detail .title_big h2 {
    font-size: 44px;
    line-height: 44px;
    color: #333;
}

.detail .card_title {
    height: 64px;
    font-size: 24px;
    color: #444;
    position: relative;
}

.detail .card_title:after {
    width: 24px;
    height: 4px;
    background: #4283EB;
    position: absolute;
    bottom: 0;
    left: 0;
}

.detail .card_title em {
    font-size: 12px;
    color: #777;
    display: inline-block;
    margin-left: 8px;
}

/*--//End title_big--*/

.detail .project .content {
    background: #fff url(../images/project_mapbg.png) no-repeat 620px -60px;
    width: 1080px;
    padding: 50px 45px;
    float: left;
    margin-top: 374px;
    position: relative;
}

.detail .project .content .title {
    height: 44px;
    position: relative;
}

.detail .project .content .tname {
    font-size: 16px;
}

.detail .project .content .code {
    background: #4283EA;
    line-height: 28px;
    padding-left: 7px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -14px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.detail .project .content .code .icon {
    background: url(../images/qrcode.png) no-repeat;
    width: 28px;
    height: 28px;
}

.detail .project .content .code i.icon {
    background-position: 0 0;
    float: left;
    margin-right: 5px;
}

.detail .project .content .code em.icon {
    background-position: 0 -28px;
    float: right;
    margin-left: 5px;
}

.detail .project .content .subtxt {
    height: 12px;
    margin-top: 20px;
    margin-bottom: 58px;
}

.detail .project .content .subtxt span {
    font-size: 12px;
    line-height: 12px;
    color: #777;
    float: left;
    margin-right: 30px;
}

.detail .project .content .subtxt strong {
    float: left;
    font-weight: normal;
}

.detail .project .content .subtxt i {
    float: left;
    margin: 0 10px;
}

.detail .project .content .subtxt em {
    float: left;
}

.detail .project .content .inheritor .tname {
    color: #1b1b1b;
    margin-bottom: 15px;
}

.detail .project .content .inheritor .master {
    width: 100%;
    height: 70px;
    float: left;
}

.detail .project .content .inheritor .master li {
    float: left;
    margin-right: 35px;
}

.detail .project .content .inheritor .master li .avatar {
    height: 70px;
    float: left;
    margin-right: 14px;
    overflow: hidden;
}

.detail .project .content .inheritor .master li .avatar img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.detail .project .content .inheritor .master li .txt {
    float: left;
}

.detail .project .content .inheritor .master li .txt p {
    line-height: 24px;
    font-size: 12px;
    color: #777;
}

.detail .project .content .inheritor .master li .txt p.name {
    color: #333;
}

.detail .project .content .inheritor .master li.more {
    line-height: 34px;
    float: right;
    margin: 18px 0;
}

.detail .project .content .inheritor .master li.more a {
    font-size: 12px;
    color: #949494;
    float: left;
}

.detail .project .content .inheritor .master li.more a .gt_big {
    background: url(../images/gt_big.png) no-repeat 0 0;
    width: 18px;
    height: 34px;
    display: inline-block;
}

.detail .project .content .inheritor .master li.more span {
    float: left;
    margin-right: 10px;
}

.detail .project .content .batch {
    margin-top: 50px;
}

.detail .project .content .batch .tname {
    color: #333;
}

.detail .project .content .batch .subcon {
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

.detail .project .content .batch .subcon span {
    float: left;
    margin-right: 30px;
}

.detail .project .content .floor {
    width: 100%;
    height: 44px;
    position: absolute;
    top: -64px;
    left: 0;
}

.detail .project .content .floor a.share,
.detail .project .content .floor a.praise {
    background: url(../images/detail_icon.png) no-repeat 0 0;
    width: 23px;
    height: 20px;
    float: left;
    margin: 11px 0;
    opacity: .7;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.detail .project .content .floor a.share:hover,
.detail .project .content .floor a.praise:hover {
    opacity: 1;
}

.detail .project .content .floor a.praise.active {
    background: url(../images/detail_icon.png) no-repeat -23px -20px;
    opacity: 1;
}

.detail .project .content .floor .share_box {
    width: 154px;
    height: 108px;
    padding: 10px 10px 10px 0;
    position: absolute;
    top: -130px;
    left: 0;
    background: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none;
}

.detail .project .content .floor .share_box:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 10px;
}

.detail .project .content .floor .share_box .icons {
    width: 46px;
    float: left;
}

.detail .project .content .floor .share_box .icons a {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.detail .project .content .floor .share_box .icons a:after {
    content: '';
    background: url(../images/detail_share.png) no-repeat 0 0;
    width: 17px;
    height: 15px;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.detail .project .content .floor .share_box .icons a.sina:after {
    background-position: 0 0;
}

.detail .project .content .floor .share_box .icons a.facebook:after {
    background-position: 0 -15px;
}

.detail .project .content .floor .share_box .icons a.twitter:after {
    background-position: 0 -30px;
}

.detail .project .content .floor .share_box .icons a.sina:hover:after {
    background-position: -17px 0;
}

.detail .project .content .floor .share_box .icons a:hover.facebook:after {
    background-position: -17px -15px;
}

.detail .project .content .floor .share_box .icons a:hover.twitter:after {
    background-position: -17px -30px;
}

.detail .project .content .floor .share_box .qrcode {
    width: 108px;
    height: 108px;
    float: right;
}

.detail .project .content .floor a.praise {
    background-position: 0 -20px;
    margin-left: 30px;
    -webkit-transition: all 0s;
    transition: all 0s;
}

.detail .project .content .floor a.album {
    background: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, 0);
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    float: right;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.detail .project .content .floor a.album .play_sm {
    float: left;
    margin: 10px 0;
}

.detail .project .content .floor a.album:hover {
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .7);
}

/*--//End project--*/

.detail .baseinfo .content {
    background: #fff;
    width: 1080px;
    margin: 40px auto;
    padding: 50px 45px;
    float: left;
}

.detail .baseinfo .info {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.detail .baseinfo .info li {
    width: 50%;
    height: 36px;
    float: left;
}

.detail .baseinfo .info span {
    line-height: 36px;
    font-size: 16px;
    color: #83858E;
}

.detail .baseinfo .info span.value {
    color: #4A4A4A;
}

/*--//End baseinfo--*/

.detail .main_article {
    width: 100%;
    float: left;
    padding-bottom: 80px;
}

.detail .main_article .content .text {
    width: 770px;
    font-size: 16px;
    line-height: 36px;
    float: left;
}

.detail .main_article .content .text p {
    margin-top: 48px;
}

.detail .main_article .content .media {
    width: 370px;
    float: right;
    margin-top: 48px;
}

.detail .main_article .content .media li {
    width: 100%;
    float: left;
    margin-bottom: 36px;
    position: relative;
}

.detail .main_article .content .media li img {
    width: 100%;
    float: left;
}

.detail .main_article .content .media li span {
    color: #949494;
    font-size: 14px;
    float: right;
    margin-top: 20px;
}

.detail .main_article .content .media .more {
    height: 14px;
}

.detail .main_article .content .media .more a {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #333;
    float: right;
}

.detail .main_article .content .media .more .arrow_right {
    background: url(../images/arrow-right.png) no-repeat;
    width: 19px;
    height: 14px;
    float: right;
}

.detail .main_article .content .media .more a:hover {
    color: #4283EB;
}

.detail .main_article .content .media .more a:hover .arrow_right {
    background-position: 0 -14px;
}

.detail .brief,
.detail .history {
    padding-top: 120px;
    background: #fff;
}

.detail .products {
    padding-top: 120px;
    padding-bottom: 30px;
}

.detail .products .list li {
    width: 270px;
    float: left;
    margin-right: 30px;
    margin-top: 60px;
}

.detail .products .list li p {
    font-size: 16px;
    color: #333;
}

.detail .products .list li p.name {
    margin-top: 20px;
    margin-bottom: 8px;
}

.detail .products .list li p.master {
    line-height: 36px;
}

.detail .products .list li p.master img {
    float: left;
    margin-right: 10px;
}

.detail .products .list li p.master .avatar {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.detail .products .list .page {
    width: 100%;
    height: 23px;
    text-align: center;
    float: left;
    margin-top: 50px;
}

.detail .products .list .page span {
    height: 23px;
    font-size: 14px;
    color: #777;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    font-family: "DINPro";
}

.detail .products .list .page span.active {
    color: #333;
}

.detail .products .list .page span.active:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #4283EB;
}

.detail .cost {
    padding-top: 120px;
    padding-bottom: 80px;
}

.detail .cost .content {
    width: 100%;
    line-height: 36px;
    font-size: 16px;
    color: #1B1B1B;
    float: left;
    margin-top: 48px;
}

.detail .influence {
    background: #fff;
    padding-top: 120px;
    padding-bottom: 80px;
}

.detail .influence .content {
    width: 100%;
    float: left;
    margin-top: 48px;
}

.detail .influence .column3 li {
    width: 370px;
    float: left;
    margin-right: 30px;
}

.detail .influence .column3 li p {
    line-height: 36px;
    color: #1b1b1b;
    margin-bottom: 50px;
}

.side_fixed {
    position: fixed;
    top: 350px;
    right: 40px;
}

.side_fixed li {
    height: 34px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #949494;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.side_fixed li span {
    position: absolute;
    top: 0;
    right: 50px;
    white-space: nowrap;
    display: none;
}

.side_fixed li strong {
    width: 30px;
    float: right;
    margin-bottom: 20px;
}

.side_fixed li:hover {
    font-size: 24px;
    color: #333;
}

.side_fixed li:hover span {
    display: block;
}

.side_fixed li.active {
    color: #333;
}


